.el-submenu .el-menu-item {
    font-size: 14px;
    padding-left: 48px !important;
    &.is-active {
        background-color: #e6a23c6b !important;
    }
}

li.el-submenu {
    &.is-active.is-opened .el-submenu__title {
        background-color: #ebb136 !important;
    }
}

.el-submenu__title i {
    color: #ffffff !important;
}

.close {
    #nav-warp {
        .el-submenu__title {
            background-color: #ebb136 !important;
        }
    }
}

.el-menu--vertical {
    .el-menu-item:hover {
        background-color: #ebb136 !important;
    }
}