@import "./basics.scss";
@import "./config.scss";
@import "./element.scss";
.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.gray {
    color: #666666;
}

.black-space-30 {
    height: 30px;
}